@tailwind base;
@tailwind components;
@tailwind utilities;

.parentContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 250px;
}

.childContainer{
  font-family: 'Courier New', Courier, monospace;
  font-size: 60px;
  font-weight: 900;
  width: fit-content;
  height: 250px;
  margin-left: 25px;
}

.heading{
  font-size: 70px;
  font-weight: 900;
  margin-left: 25px;
  color: green;
}

.colour{
  color: chartreuse;
}